<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<h1>Average rating: <%= @avg_rating %></h1>
<%= image_tag @restaurant.image.url(:thumb) %>
<% @reviews.each do |r| %>
<p><%= r.rating %>
  <%= r.comment%></p>
  <%= r.get_user_email %>
  <% end %>



<a href="/restaurants/<%= @restaurant.id %>/reviews/new">Add a review</a>
