<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
  <!-- FOR WHEN USER SIGNED IN
    <div>
      <a href='/restaurants'>Rafa-Yelp</a>
    </div>
    <div>
      <form>
      <input id='button' type='submit' value='Log Out'</input>
    </form>
    </div> -->

    <!-- FOR WHEN THERE ARE NO USER
    <div>
    <a href='/restaurants'>Rafa-Yelp</a>
  </div>
  <div>
    <form>
    <input id='button' type='submit' value='Log In'</input>
  </form>
  </div>
  <div>
    <form>
    <input id='button' type='submit' value='Sign Out'</input>
  </form>
  </div> -->
=======

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
>>>>>>> f917c83b366ffd316fa131320489e55e238fe9f7

<%= notice %>
<%= yield %>

</body>
</html>
